html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.main-header {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: black;
  background-color: #008080;
  padding: 10px;
  border-radius: 7px;
}

.sub-header {
  font-family: 'Courier New', Courier, monospace;
  border-bottom: 2px solid rgba(0, 0, 0, 0.4);
}

.content-container p {
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  border-left: #008080 solid 2px;
  margin-left: 30px;
  color: rgba(0, 0, 0, 0.5);
}